div{
  background-color: white;
  color:black
}


.frame {
  border: 2px solid black;
  padding: 25px;
  background: url('https://picsum.photos/id/237/200/300');
  background-repeat: no-repeat;
  background-size: cover;
}